/* newcss */
body {
	--nc-lk-1: #FF3881 !important;
	--nc-lk-2: #FF3881 !important;
}

/* header */

.logo {
	margin: 0;
	margin-right: 1ch;
	height: 2em;
	vertical-align: middle;
}

@media only screen and (max-width: 600px) {
	header h1 {
		font-size: 1.5rem;
	}
}

/* navigation */

.nav-parent {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

.nav-parent > a > button {
	padding-top: 1em;
	padding-bottom: 1em;
	width: 100%;
}

.nav-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 1em;
}

.nav-bar > * {
	flex: 1;
}

@media only screen and (max-width: 600px) {
	.nav-bar {
		flex-direction: column;
		gap: 0.5em;
	}

	.nav-separator {
		display: none;
	}

	.nav-bar > * {
		flex: 0;
		width: 100%;
	}
}

/* card */

div.card {
	padding: 2rem;
	margin-bottom: 1rem;

	border-radius: 1rem;

	background-color: black;
}

div.card h2, div.card h3, div.card h1, div.card h4, div.card h5 {
	color: white;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

@media (prefers-color-scheme: light) {
	div.card code {
		color: black;
	}
}

div.card hr {
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

div.card p.actions a {
	white-space: nowrap;
}

div.card.place2023 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url("/assets/images/2023-final-bg.png");
	background-position: center;
	background-size: cover;

	color: white;
}

div.card.connorcanvas {
	background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("/assets/images/connor-background.png");
	background-position: center;
	background-size: cover;

	color: white;
}

/* misc */

button {
	margin-right: 6px;
	margin-bottom: 6px;
}

a.link-with-button {
	text-decoration: none;
}

ul > li {
    margin-left: 2ch;
}